* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Castoro", serif;
  display: flex;

  justify-content: center;
  background-image: linear-gradient(to bottom right, dimgray, black);
}

h1 {
  padding: 3rem;
  color: whitesmoke;
}
ul {
  list-style-type: none;
}
